<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/resources.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/resources.js"></script>
  <script src="/scripts/my-resources.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <%- include('partials/_footer.ejs') %>
      <main>
        <div class="buttons-container">
          <button class="button my-resources-toggle button-left button-active">My Resources</button>
          <button class="button my-resources-toggle button-right">My Favourites</button>
        </div>

        <section class="resources-main">
          <section id="my-resources">
            <% resources.forEach(resource=> { %>
              <a href="/resources/<%= resource.id %>">
                <div class="resource-card">
                  <div class="card-content">
                    <div class="resource-card-title">
                      <%= resource.title %>
                    </div>
                    <img src="<%= resource.thumbnail_url %>" alt="thumbnail image" class="thumbnail_img" />
                  </div>
                </div>
              </a>
              <% }); %>
          </section>

          <section id="my-favourites" class="hidden">
            <% likedResources.forEach(likedResource=> { %>
              <a href="/resources/<%= likedResource.id %>">
                <div class="resource-card">
                  <div class="card-content">
                    <div class="resource-card-title">
                      <%= likedResource.title %>
                    </div>
                    <img src="<%= likedResource.thumbnail_url %>" alt="thumbnail image" class="thumbnail_img" />
                  </div>
                </div>
              </a>
              <% }); %>
          </section>
      </main>
</body>

</html>
